<!-- <app-contador></app-contador> -->

<!-- <b>App: {{contador}}</b>

<app-contador-botoes></app-contador-botoes> -->
<div *ngIf="user$ | async; else deslogado">
  Olá, {{ (user$ | async).email }}

  <a routerLink="/">Home</a> |
  <a routerLink="/todos">Todos</a> |
  <a routerLink="/todos/add">Adicionar todo</a> |
  <a routerLink="/cep">CEP</a>

  <button (click)="logout()">Sair</button>
</div>

<ng-template #deslogado>
  <a routerLink="/">Home</a> |
  <a routerLink="/cep">CEP</a> |
  <a routerLink="/auth/login">Login</a> |
  <a routerLink="/auth/register">Cadastro</a>
</ng-template>

<router-outlet></router-outlet>
